@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased text-slate-900;
    background: radial-gradient(at 0% 0%, hsla(225,39%,30%,0.02) 0, transparent 50%), 
                radial-gradient(at 50% 0%, hsla(225,39%,20%,0.05) 0, transparent 50%), 
                radial-gradient(at 100% 0%, hsla(225,39%,30%,0.02) 0, transparent 50%);
    background-color: #fcfdfe;
    min-height: 100vh;
  }
}

.glass-card {
  @apply bg-white/70 backdrop-blur-xl border border-white shadow-[0_8px_30px_rgb(0,0,0,0.04)] rounded-[2rem];
}

.input-style {
  @apply w-full px-4 py-3 bg-white/50 border border-slate-200 rounded-xl focus:ring-2 focus:ring-indigo-500 focus:border-transparent transition-all outline-none;
}